hostname {{hostname}}
!
{% if interfaces %}
{% for interface, config in interfaces.items() %}
interface {{interface}}
 description {{config['description']}}
 ip address {{config['ip']}} {{config['subnet_mask']}}
 no shutdown
!
{% endfor %}
{% endif %}
{% if bgp %}
router bgp {{bgp['as']}}
{% for network, network_config in bgp['networks'].items() %}
 network {{network_config['network_address']}} mask {{network_config['network_mask']}}
{% endfor %}
{% for peer, peer_config in bgp['peers'].items() %}
 neighbor {{peer_config['neighbor_address']}} remote-as {{peer_config['neighbor_as']}}
{% endfor %}
{% endif %}
!