{% if vendor == 'cisco_ios' %}
{% if bgp %}
router bgp {{bgp['as']}}
{% for network, network_config in bgp['networks'].items() %}
 network {{network_config['network_address']}} mask {{network_config['network_mask']}}
{% endfor %}
{% for peer, peer_config in bgp['peers'].items() %}
 neighbor {{peer_config['neighbor_address']}} remote-as {{peer_config['neighbor_as']}}
{% endfor %}
{% endif %}
{% elif vendor == 'juniper' %}
{% if bgp %}
set routing-options autonomous-system {{bgp['as']}}
{% for peer, peer_config in bgp['peers'].items() %}
set protocols bgp group external-peers neighbor {{peer_config['neighbor_address']}} peer-as {{peer_config['neighbor_as']}}
{% endfor %}
{% endif %}
{% elif vendor == 'cisco_nxos' %}
{% elif vendor == 'cisco_asa' %}
{% endif %}